nav a,li{
    font-size: 20px;
    color: white;
}

.logo{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-decoration: none;
    color: white;
    height: 50px;
    padding: 0px 17px;

    box-shadow: 0px 0px 20px 0px rgb(168, 168, 168);
    
}
.logo a{
    margin: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #3aafa9;
    text-decoration: none;
}
.logo a{
    text-decoration: none;
    color: #3aafa9;
}
body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #def2f1;
    margin: 0px 0px;
    padding: 0px 0px;
}

nav{
    background-color: #3aafa9;
    height: 50px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0px;
    padding: 0px 20px;
    align-items: center;
    text-decoration: none;
    color: white;
    
    
}
nav a{
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    text-decoration: none;
    
}

li {
    display: flex;
    align-items: center;
    flex-direction: row;
    width:auto;
    padding: 10px 10px 10px 10px;
    margin: 3px 1px 3px 1px;
    min-height: 20px;
    min-width: 20px;
    
}
li:hover{
    background-color: #3aafa9;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
li:hover a{
    color: white;
}
li a{
    margin: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
i{
    display: flex;
    justify-content: center;
    margin: 0px 5px;
}

.sidebar{
    height: 100%;
    width: 350px;
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    
    flex-direction: column;
    overflow-x:hidden;
    transition: right 0.3s ease;
    
    
}
.sidebar a{
    color:#3aafa9;
    text-decoration: none;
    
    
}
.sidebar.close{
    width: 60px;
    min-width: 60px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}
.sidebar.close .li-text{
    color: wheat;
    opacity: 0;
}

.li-text{
    margin: 0px 5px;
    
}
.sidebar-ul{
    list-style-type: none;
    padding: 0px 0px;
    margin: 0px 5px;
}
.logout{
    display: flex;
    flex-direction: row;
    width:100%;
    border-top: 1px solid #3aafa9;
    align-items: center;
    bottom: 0;
    padding: 0px 20px 0px 20px;
    font-size: 18px;
    height: 50px;
    background-color: white;
}


    

.navbar-profile i{
    padding: 0px 5px;
    margin: 0px;
    
}

.logout a{
    display: flex;
    align-items: center;
    
}

